.app-wrapper {
margin: auto ;
width: 1200px;
    display: grid;
    grid-template-areas:
            'h h'
            'n c';

    grid-template-rows: 60px 1fr;
    grid-template-columns: 2fr 10fr;
    grid-gap: 10px
}

.header {
    grid-area: h;
    background-color: green;
}

.header img {
    margin-top: 10px;
    margin-left: 7px;
    width: 30px;
}

.nav {
    width: 100px;
    grid-area: n;
    background-color: cadetblue;
}

.content {
    grid-area: c;
    background-color: lightcoral;
}
.content img {
    width: 1200px;
}
